.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container {
  padding: 20px;
  font-family: 'Arial, sans-serif';
  max-width: 300px;
  margin: 0 auto;
}

.original-url-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.shorten-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(0, 123, 255);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.shorten-button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  opacity: 0.6;
}

.error-block {
  color: red;
  margin-top: 10px;
}

.success-block {
  color: green;
  margin-top: 10px;
  font-style: italic;
}

.bottom-block {
  margin-top: 20px;
  display: flex;
}

.shortened-url-a {
  display: flex;
  align-items: center;
}

.copy-button {
  margin-left: 10px;
  background-color: transparent;
  color: #007BFF;
  border: 2px solid #007BFF;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
  height: fit-content;
}
